@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>Primeiro Projeto em MVC - Sistema de cadastro de pokemons - Tema: Pokemon Red & Green</p>
</div>
